.workflowTable {
    table-layout: fixed;
}

.groupName {
    text-align: left;
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    overflow: hidden;
}

.workflowName {
    /*text-align: right;*/
    font-weight: normal;
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    overflow: hidden;
    height: 20px;
}

.timeHeader {
    font-family: monospace;
    font-size: small;
    font-weight: normal;
    width: 30px;
    max-width: 30px;
    min-width: 30px;
}

.slot {
    text-align: center;
    width: 30px;
    max-width: 30px;
    min-width: 30px;
    min-height: 20px;
    height: 20px;
}

.slot a {
    width: 100%;
    height: 100%;
    display:block;
    text-decoration:none;
}

.RUNNING, .READY { background-color: #ffc; }
.SUCCESS { background-color: #cfc; }
.WAITING { background-color: #ccf; }
.FAILURE, .WAIT_TIMEOUT { background-color: #fcc; }
