---
# file: roles/hadoop_master/tasks/main.yml


- name: Make yarn dirs in hdfs
  shell: creates=/usr/lib/oozie/oozie.yarned su - hdfs -c " hadoop fs -mkdir /tmp && hadoop fs -chmod -R 1777 /tmp  &&  hadoop fs -mkdir  /user/history && hadoop fs -chown yarn /user/history && hadoop fs -chmod -R 177 /user/history" && touch /usr/lib/oozie/oozie.yarned
  tags: yarn

- name: Make log dirs in hdfs
  shell: creates=/usr/lib/hadoop-mapreduce/yarn.logged su -hdfs -c "hadoop fs -mkdir /var/log/hadoop-yarn && hadoop fs -chown  yarn:mapred /var/log/hadoop-yarn" && touch /usr/lib/hadoop-mapreduce/yarn.logged
  tags: yarn

- name: Create the data directory for the slave nodes for yarn
  file: path={{ item }} owner=yarn group=yarn state=directory
  tags: yarn
  with_items:
    - /data/1/yarn/local
    - /data/2/yarn/local
    - /data/3/yarn/local
    - /data/4/yarn/local
    - /data/1/yarn/logs
    - /data/2/yarn/logs
    - /data/3/yarn/logs
    - /data/4/yarn/logs

- name: Start resource manager and history server
  service: name={{ item }} state=started
  tags: yarn
  with_items:
    - hadoop-yarn-resourcemanager
    - hadoop-yarn-proxyserver
    - hadoop-mapreduce-historyserver

- name: Create celos user
  action: user name=celos password=$1TKWzZdkb9vI
  tags: yarn

- name: Ensure .ssh dir for Celos
  file: path=/home/celos/.ssh owner=celos group=celos state=directory
  tags: yarn

- name: Copy SSH keys for scripts to work
  shell: creates=/home/celos/.ssh/authorized_keys cp -avf /home/ubuntu/.ssh/authorized_keys /home/celos/.ssh/authorized_keys  
  tags: yarn  

- name: Create hdfs home dir for celos
  shell: creates=/usr/lib/hadoop-mapreduce/celos.homedired su -hdfs -c "hadoop fs -mkdir /user/celos  && hadoop fs -chown  celos /user/celos" && touch /usr/lib/hadoop-mapreduce/celos.homedired
  tags: yarn

- name: set HADOOP_MAPRED_HOME
  lineinfile: dest=/etc/environment state=present
    regexp="^HADOOP_MAPRED_HOME="
    line="HADOOP_MAPRED_HOME=/usr/lib/hadoop-mapreduce"
  tags: yarn
