<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
        "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>

    <servlet>
        <servlet-name>CelosUIServlet</servlet-name>
        <servlet-class>com.collective.celos.ui.CelosUIServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>VersionNumberServlet</servlet-name>
        <servlet-class>com.collective.celos.servlet.VersionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CelosUIServlet</servlet-name>
        <url-pattern>/ui</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>VersionNumberServlet</servlet-name>
        <url-pattern>/version</url-pattern>
    </servlet-mapping>


</web-app>
