body {
    margin: 0;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

input, button {
    margin: 2px;
}

#topPanel {
    /*background-color: blue;*/
    position: absolute;
    height: 100px;
    width: 350px;
    top: 0;
    font-size: 62.5%;
}

#datePanel {
    /*background-color: green;*/
    position: absolute;
    top: 100px;
    height: 45px;
    right: 400px;
    left: 0;
}

#slotStatesPanel {
    /*background-color: green;*/
    position: absolute;
    top: 145px;
    bottom: 20px;
    right: 400px;
    left: 0;
    overflow: auto;
}

#selectedSlotsDetailsPanel {
    /*background-color: red;*/
    width: 400px;
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 20px;
    overflow: auto;
}

#bottomPanel {
    /*background-color: yellow;*/
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: 0;
}

.slotInfoPanel {
    width: 200px;
    height: 200px;
    background: white;
    padding: 5px;
    border: solid 1px black;
    position: absolute;
}
